<div class="erp-action-bar">
  <div class="erp-action-bar__start">
    @if (showBack) {
      <avl-button variant="secondary" size="sm" iconLeft="ti ti-arrow-left" (clicked)="onBack()">
        {{ 'COMMON.BACK' | translate }}
      </avl-button>
    }
    <ng-content select="[actionBarStart]"></ng-content>
  </div>

  <div class="erp-action-bar__end">
    <ng-content select="[actionBarEnd]"></ng-content>
    @if (showCancel) {
      <avl-button variant="secondary" size="sm" [disabled]="loading" (clicked)="onCancel()">
        {{ cancelKey | translate }}
      </avl-button>
    }
    @if (showSave) {
      <avl-button
        variant="primary"
        [loading]="loading"
        [disabled]="disabled"
        [iconLeft]="loading ? undefined : 'ti ti-device-floppy'"
        (clicked)="onSave()"
      >
        {{ (loading ? loadingKey : saveKey) | translate }}
      </avl-button>
    }
  </div>
</div>
