<ng-template #detailModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      {{ editingDetail ? ('MASTER_LOOKUPS.EDIT_DETAIL' | translate) : ('MASTER_LOOKUPS.ADD_DETAIL' | translate) }}
    </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="detailForm">
      <div class="row">
        <!-- Code (immutable on edit) -->
        <div class="col-md-6 mb-3">
          <erp-form-field
            labelKey="MASTER_LOOKUPS.DETAIL_CODE"
            [control]="detailForm.get('code')"
            [required]="true"
            [hintKey]="editingDetail ? 'MASTER_LOOKUPS.CODE_READONLY_HINT' : undefined"
          >
            <avl-input id="detailCode" formControlName="code" [mono]="true" maxlength="50" />
          </erp-form-field>
        </div>

        <!-- Sort Order -->
        <div class="col-md-6 mb-3">
          <erp-form-field
            labelKey="MASTER_LOOKUPS.SORT_ORDER"
            [control]="detailForm.get('sortOrder')"
          >
            <avl-input id="sortOrder" type="number" formControlName="sortOrder" [mono]="true" min="0" />
          </erp-form-field>
        </div>

        <!-- Name Arabic -->
        <div class="col-md-6 mb-3">
          <erp-form-field
            labelKey="MASTER_LOOKUPS.DETAIL_NAME_AR"
            [control]="detailForm.get('nameAr')"
            [required]="true"
          >
            <avl-input id="nameAr" formControlName="nameAr" maxlength="200" />
          </erp-form-field>
        </div>

        <!-- Name English -->
        <div class="col-md-6 mb-3">
          <erp-form-field
            labelKey="MASTER_LOOKUPS.DETAIL_NAME_EN"
            [control]="detailForm.get('nameEn')"
          >
            <avl-input id="nameEn" formControlName="nameEn" maxlength="200" />
          </erp-form-field>
        </div>

        <!-- Extra Value -->
        <div class="col-12 mb-3">
          <erp-form-field
            labelKey="MASTER_LOOKUPS.EXTRA_VALUE"
            [control]="detailForm.get('extraValue')"
          >
            <avl-input id="extraValue" formControlName="extraValue" maxlength="500" />
          </erp-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <avl-button variant="secondary" (clicked)="modal.dismiss()">
      {{ 'COMMON.CANCEL' | translate }}
    </avl-button>
    <avl-button variant="primary" [loading]="saving" (clicked)="onSave()">
      {{ 'COMMON.SAVE' | translate }}
    </avl-button>
  </div>
</ng-template>
