<div class="avl-app">
  <app-navigation
    class="pc-sidebar avl-sidebar"
    [ngClass]="{
      'navbar-collapsed': navCollapsed,
      'theme-horizontal': this.mantisConfig['layout'] === 'horizontal',
      'theme-compact': this.mantisConfig['layout'] === 'compact',
      'mob-open': navCollapsedMob,
      'is-open': navCollapsedMob
    }"
    (NavCollapse)="layout.toggleSidebar()"
  />
  @if (navCollapsedMob) {
    <div class="avl-scrim is-open" (click)="closeMenu()" (keydown)="handleKeyDown($event)" tabindex="0"></div>
  }
  <div class="avl-app__body">
    <app-nav-bar (NavCollapsedMob)="navMobClick()" (NavCollapse)="layout.toggleSidebar()" />
    <div class="avl-app__main">
      <router-outlet />
    </div>
  </div>
</div>
<app-configuration />
