<ul class="list-unstyled">
  <li class="pc-h-item pc-sidebar-collapse avl-hide-lg-down">
    <a
      href="javascript:"
      title="click to menu collapse"
      class="pc-head-link ms-0 avl-menu-btn-desktop"
      [ngClass]="{ on: navCollapsed }"
      id="sidebar-hide mobile-collapse"
      (click)="navCollapse()"
    >
      <i class="ti" [ngClass]="navCollapsed ? 'ti-layout-sidebar-right-expand' : 'ti-layout-sidebar-left-expand'"></i>
    </a>
  </li>
  <li class="pc-h-item pc-sidebar-popup">
    <a href="javascript:" title="Open menu" class="pc-head-link ms-0 avl-menu-btn" id="mobile-collapse1" (click)="navCollapsedMob()">
      <i class="ti ti-menu-2"></i>
    </a>
  </li>
</ul>
